<!--<video id="video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">-->
<!--    <source src="{{ url_for('static', filename='Images/istockphoto-150487436-640_adpp_is.mp4') }}" type="video/mp4">-->
<!--  </video>-->
<div class="outer">
    <h1>About Us</h1>
    <div class = "middle">
        <div class ="inner">
            <h4 align="center">PRODUCT MANAGEMENT </h4>
            <p align="center">Keep record of product such as MRP , margin , stocks , expiry date and categorize  the product like ( electronic , cosmetic)  </p>
        </div>
        <div class ="inner">
            <h4 align="center">Top 10 Sellers</h4>
            <p align="center">Provides you the functionality to highlight the top 10 seller 
                having highest rating.</p>
        </div>
        
        <div class ="inner">
            <h4 align="center">DIGITAL BILLING SYSTEM </h4>
            <p align="center">Generate digital bills or mail bills directly to your customers </p>
        </div>
        </div>
</div>
<div class="outer">
    <div class = "middle">
        <div class ="inner">
            
            <h4 align="center">PORTFOLIO </h4>
            <p align="center">Record all business transactions such as Sales, Purchases, Quotations and Returns   </p>
        </div>
        <div class ="inner">
            <h4 align="center">STATEMENT </h4>
            <p align="center"> Download product sales history easily </p>
        </div>
        </div>
        <div class ="inner">
            <h4 align="center">NOTIFICATION SYSTEM </h4>
            <p align="center">Notification via mail regarding stock management & weekly track of business    </p>
        </div>
</div>
<style type="text/css">

    .outer{
        padding: 30px 100px 5px 280px;
        margin: 5px 5px 5px 5px;

    }

    .inner{
        float: left;
        /*background:floralwhite ;*/

  </video>
        width: 44%;
        height: 170px;
        border-radius: 60px;
        border: 1px black solid;
        padding: 20px 15px 20px 15px;
        margin: 30px 30px 30px 10px;
        box-shadow: 5px 5px 5px 5px grey;
    }
 #video{

  position: absolute;
  right: 0;

  min-width: 100%;
  min-height: 250%;
      opacity: 0.5;
}

    /*.inner:hover{
        background: ghostwhite;
        display: block;
        border: 2px #888 solid;
        transition-delay:.2s translateY(40px);
        transition: all 300ms ease;
        box-shadow: 5px 5px 5px 5px grey;
    }*/
    body {
background:url(https://uploads-ssl.webflow.com/60a5528bc0b91d5c9fe69ca0/61fdc5db62044cc2b17606a5_webflow-tutorial-onectus-p-800.jpeg) fixed;
    color: #f8f9fa;

    background-size: cover;
    font:600 16px/18px 'Open Sans',sans-serif;
}
</style>