
{% block content %}
<!--<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">-->
<!--    <source src="{{ url_for('static', filename='Images/istockphoto-150487436-640_adpp_is.mp4') }}" type="video/mp4">-->
<!--  </video>-->
<div class="row">
    <div class="col-sm-4">
        <form method="POST" class="content-section form-content colform">
            <!-- <input id="csrf_token" name="csrf_token" type="hidden" value="IjAwMzE5ZjZkN2M3Njk2ZGRiNGU0ZjA1Y2VlMTBjY2NhMmU0N2E3ZjMi.YZ8wrg.gBVFrcQs8ZatHg6KXCYqjQOPSzQ"> -->
            <fieldset class="form-group">
                <div class="form-group">
                    <label class="form-control-label" for="title">Title</label>
                    <input class="form-control form-control-sm" id="title" name="title" required="" type="text" value="">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="mrp">Maximum Retail Price (MRP)</label> 
                    <input class="form-control form-control-sm" id="mrp" name="mrp" required="" type="number" value="">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="sp">Selling Price</label>
                    <input class="form-control form-control-sm" id="sp" name="sp" required="" type="number" value="">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="stockAvailable">Stock Available</label>
                    <input class="form-control form-control-sm" id="stockAvailable" name="stockAvailable" required="" type="number" value="">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="image">Image</label>
                    <input class="form-control form-control-sm" id="image" name="image" required="" type="file">
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" id="submitButton" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-sm-8 product-added colform" style="position: relative;">
        <div class="product-loader" style="display: none;"></div>
        <div class="product-details content-section" style="margin-right: 20px;">
            Products Added
        </div>
    </div>
</div>
<style>
    .content-section {

        padding: 10px 20px;
        border: 1px solid #dddddd;
        border-radius: 3px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-top: 30px;
    }
    .product-loader {
        position: absolute;
        top: 46%;
        left: 48%;
        border: 4px solid black;
        border-radius: 50%;
        border-top: 4px solid green;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin .5s linear infinite;
    }
  body {
    background:url(https://uploads-ssl.webflow.com/60a5528bc0b91d5c9fe69ca0/61fdc5db62044cc2b17606a5_webflow-tutorial-onectus-p-800.jpeg) fixed;
    color: #f8f9fa;

    background-size: cover;

}

.form-control-form-control-lg{
    margin-bottom:15px;
    width:100%;
    color:black;
    display:block;
    border: 1px black solid;
    padding:8px 20px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
}


.form-control-form-control-lg{
    background:transparent;
}
.form-control-label{

    margin-top: 10px;
    margin-bottom: 10px;

    font-size:16px;
    text-transform:uppercase;


    border-radius:2px;
    position:relative;
    display:inline-block;
}
.form-control-form-control-lg,
.form-control-label,
.btn-btn-outline-info{
    width:100%;

}
.colform{
    width: 100%;

    width:510px;
    min-height:410px;
    position:relative;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.colform{
    width:100%;

    position:absolute;

    background:rgba(0,0,0,0.5);
}

.colform{
    min-height:300px;
    position:relative;
    -webkit-perspective:1000px;
            perspective:1000px;
    -webkit-transform-style:preserve-3d;
            transform-style:preserve-3d;
}
    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    video{
position:fixed;
  position: fixed;
  right: 0;

  min-width: 100%;
  min-height: 100%;
      opacity: 0.75;
}
</style>

<script>
    $(function(){
    $('form').submit(function(event){
        event.preventDefault();
        $("#submitButton").html("Loading...")
        $("#submitButton").prop('disabled', true)
        $(".product-details").hide()
        $(".product-loader").show()
        var formData = new FormData($("form")[0])
        $.ajax({
            url: "pages/addProducts",
            type: "POST",
            data: formData,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data){
                    $(".product-details").append(data)
                    $("#submitButton").html("Submit")
                    $("#submitButton").prop('disabled', false)
                },
            error: function(data){
                    $(".product-details").append("<hr><div style='color: red;'>Product Added By You Already Exists</div>")
                    $("#submitButton").html("Submit")
                    $("#submitButton").prop('disabled', false)
                }
            })
        $(".product-loader").fadeOut();
        $(".product-details").fadeIn(1000);
        })
    })
</script>
{% endblock content %}