<!doctype html>
<html>
 <body>
<!--  <video id="myVideo" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">-->
<!--    <source src="{{ url_for('static', filename='Images/video.mp4') }}" type="video/mp4">-->
<!--  </video>-->

<div class="graph">
    <h2>Stock Available</h2>
  <div id='chart1' class='chart1'></div>
    <h2>Top Sold</h2>
  <div id='chart2' class='chart2'></div>
  </div>
</body>
 <style>
 #myVideo {
  position: absolute;

  min-width: 100%;
  min-height: 165%;
}
body{
background:url(https://uploads-ssl.webflow.com/60a5528bc0b91d5c9fe69ca0/61fdc5db62044cc2b17606a5_webflow-tutorial-onectus-p-800.jpeg) fixed;
    color: #f8f9fa;
    background-size: cover;
}
  .graph{
position: absolute;
    left: 10%;
  }
  h2{
      position: relative;
    left: 35%;}
 </style>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graph1 = {{graph_stock | safe}};
  Plotly.plot('chart1',graph1,{});

  var graph2 = {{graph_sold | safe}};
  Plotly.plot('chart2',graph2,{});
</script>
</html>