<!--<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">-->
<!--    <source src="{{ url_for('static', filename='Images/istockphoto-150487436-640_adpp_is.mp4') }}" type="video/mp4">-->
<!--  </video>-->

<div class="full">
<div class="row">
    <div class="col-sm-4" style="padding-top: 35px;">
        <form method="POST" class="content-section form-content">
            <!-- <input id="csrf_token" name="csrf_token" type="hidden" value="IjAwMzE5ZjZkN2M3Njk2ZGRiNGU0ZjA1Y2VlMTBjY2NhMmU0N2E3ZjMi.YZ8wrg.gBVFrcQs8ZatHg6KXCYqjQOPSzQ"> -->
            <fieldset class="form-group">
                <div class="form-group">
                    <label class="form-control-label" for="title">Title</label>
                    <input class="form-control form-control-sm" id="title" name="title" required="" type="text" value="">
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" id="submitButton" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="product-added" style="position: relative; width: 60%;">
        <h5 style="padding-top: 30px; padding-bottom: 0; margin-bottom: 0;">Search Items</h5>
        <div class="product-loader" style="display: none;"></div>
        <div class="product-details content-section" style="height: 250px; margin-right: 20px; margin-top: 10px; overflow-y: scroll;">
            
        </div>
    </div>
</div>
<div>
    <div class="product-added-in-bill" style="position: relative;">
        <div class="product-details-in-bill content-section" style="margin-right: 20px;">
            Bill
        </div>
    </div>
</div>
    </div>
<style>
    .content-section {
    background: rgba(0,0,0,0.5);

        padding: 10px 20px;
        border: 1px solid #dddddd;
        border-radius: 3px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-top: 30px;
    }
    .product-loader {
        position: absolute;
        top: 46%;
        left: 48%;
        border: 4px solid black;
        border-radius: 50%;
        border-top: 4px solid green;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin .5s linear infinite;
    }
  
    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .full {
    color: antiquewhite;
    margin-top: 5rem;
    background-size: cover;
    font:600 16px/18px 'Open Sans',sans-serif;
}
video{

  position: fixed;
  right: 0;

  min-width: 100%;
  min-height: 100%;
      opacity: 0.75;
}
body{
background:url(https://uploads-ssl.webflow.com/60a5528bc0b91d5c9fe69ca0/61fdc5db62044cc2b17606a5_webflow-tutorial-onectus-p-800.jpeg) fixed;
    color: #f8f9fa;
    background-size: cover;
}
</style>

<script>
    function loadSearch(){
        $("#submitButton").html("Loading...")
        $("#submitButton").prop('disabled', true)
        $(".product-details").hide()
        $(".product-loader").show()
        $.ajax({
            url: `/search/${$("#title").val()}`,
            type: "GET",
            success: function(data){
                    $(".product-details").html(data)
                    $("#submitButton").html("Submit")
                    $("#submitButton").prop('disabled', false)
                },
            error: function(data){
                    $(".product-details").html("<hr><div style='color: red;'>Error</div>")
                    $("#submitButton").html("Submit")
                    $("#submitButton").prop('disabled', false)
                }
            })
        $(".product-loader").fadeOut();
        $(".product-details").fadeIn(1000);
    }

    $(function(){
    $('form').submit(function(event){
        event.preventDefault();
        loadSearch();    
        })
    })
</script>