<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='Stylesheets/contact.css') }}">
    <!-- Fontawesome CDN Link -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

<!--<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">-->
<!--    <source src="{{ url_for('static', filename='Images/istockphoto-150487436-640_adpp_is.mp4') }}" type="video/mp4">-->
<!--  </video>-->
<div class="body-like">
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+0098 5646 5647</div>
          <div class="text-two">+0096 6567 5678</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">ddgf@gmail.com</div>
          <div class="text-two">abcd@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have any queries or suggestion feel free to contact us.</p>
      <form action="">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          <textarea placeholder="Enter your message"></textarea>
        </div>
        <div class="button">
          <input type="submit" value="Send Now" >
        </div>
      </form>
    </div>
    </div>
  </div>
</div>

</body>
<style>
body{
background:url(https://uploads-ssl.webflow.com/60a5528bc0b91d5c9fe69ca0/61fdc5db62044cc2b17606a5_webflow-tutorial-onectus-p-800.jpeg) fixed;
background-size: cover;
}
  video{

  position: absolute;
  right: 0;

  min-width: 100%;
  min-height: 100%;
      opacity: 0.2;
}
</style>
</html>
