{% if products %}
    {% for product in products %}
        <div>
            <div class="detail">
                <div class="imgcls">
            <img src="/static/productImages/{{ product.imageName }}">
            <h3>{{ product.title.title() }}</h3>
            </div>
                <div class="price">
            <h5>Selling price : {{ product.sp }}</h5>
            <h5>MRP : {{ product.mrp }}</h5>
            <h5>Stock Available : {{ product.stockAvialable }}</h5>
                </div>
                </div>

            {% if product.stockAvialable %}
                <label for="stock">Quantity</label>
                <input type="number" placeholder="Number of Stock" value="1" name="stock" id="{{ product.id }}">
                <button id="add-product-to-bill" onclick="addProductToBill('{{ product.title }}', '#{{ product.id }}')">Add</button>
            {% else %}
                <small>Stock Over</small>
            {% endif %}
            <br>
            <hr>
        </div>
    {% endfor %}
    <script>
        function addProductToBill(title, stock){
            
            $.ajax({
                url: `/sold/${title}/${$(stock).val()}`,
                type: "GET",
                success: function(data){
                        $(".product-details-in-bill").append(data)
                        loadSearch();
                    },
                error: function(data){
                        $(".product-details-in-bill").html("<hr><div style='color: red;'>Error</div>")
                    }
                }) 
        }
    </script>
<style>
    .detail{
 display:flex;
    }
    .price{
  align-self: center;
    }
    img{
        height: 150px;
    }
    hr{
    border:1;}
</style>
{% else %}
    No Product Found
{% endif %}