<html>
    <head>
        <title>profile</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/yourprofile.css') }}">

    </head>
    <body>
<aside class="profile-card">
  <header >
    <!-- here’s the avatar -->
    <a target="_blank" href="#">
      <img src="{{ url_for('static', filename='Images/picture.jpg') }}" class="hoverZoomLink">
    </a>

    <!-- the username -->
    <h1>
    {{ user.username }}
    </h1>



  </header>


  <div class="profile-bio">

    <p>
    <h6> Company Name: {{ user.companyName }}</h6>

    <h6>Address: {{ user.address }}</h6>
      <br>
<h5>Likes: {{ user.likes }}</h5>
    <br>
<h5>Customer Visited: {{ user.customersVisited }}</h5>
    </p>

  </div>


</aside>
    </body>
</html>