<html>
    <head>
        <title>BMA- REGISTER</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/forms.css') }}">
    </head>
    <body>
        <main role="main" class="container">
            <div class="row form-center">
                <div class="col-md-8">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>